.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.is-done {
  opacity: 0.35;
}

.active {
  background-color: darkorange;
}

.error {
  border: 2px solid red;
  outline: transparent;
}
.error-message {
  color: red;
}